@import "../../../../theme/mixins.scss";

ion-content {
  .container {
    overflow-y: scroll;
    height: 100%;
    // min-height: calc(100vh + 800px);
    width: 100%;
    // border: 2px solid red;

    @include breakpoint-size(ms-extra-large) {
      height: 800px;
    }

    background-image: radial-gradient(
      circle at 40% -20%,
      var(--ion-color-primary) 50%,
      transparent 50%
    );

    .item-head {
      // border: 1px solid blue;
      height: 15%;
      text-align: center;
      h1 {
        color: var(--ion-color-medium-contrast);
        font-weight: 600;
        font-size: 5vw;
      }

      // @include breakpoint-size(ms-medium) {
      //   height: 20%;
      // }

      // @include breakpoint-size(ms-extra-large) {
      //   height: 800px;
      // }
    }

    .item-body {
      // border: 1px solid green;
      overflow-y: scroll;
      width: 100%;
      height: 85%;
      // max-height: 85%;
      padding: 10% 15% 20% 15%;
      // padding-top: 10%;

      ion-col {
        // border: 2px solid rebeccapurple;
        height: 100%;
      }

      @include breakpoint-size(ms-medium) {
        height: 1015px;
      }

      @include breakpoint-size(ms-extra-large) {
        height: 800px;
        padding: 5% 15%;
      }
    }
  }
}

// @media screen and (min-width: 1280px) {
//   ion-content {
//     .container {
//       border: 5px solid rgb(60, 255, 0);
//       ion-row.item-body {
//         padding: 5% 15%;
//       }
//     }
//   }
// }
