@import "../../../../../theme/mixins.scss";

.container {
  height: 100%;

  &__grid {
    height: 100%;
  }

  &__item {
    height: auto;
    width: 100%;

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__message-error {
    height: auto;
  }

  &__subtitle {
    &--lots {
      height: auto;

      @include breakpoint-size(ms-extra-small) {
        font-size: var(--fs-text-title-xsm);
      }

      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-title-sm);
      }

      @include breakpoint-size(ms-medium) {
        font-size: var(--fs-text-title-md);
      }

      @include breakpoint-size(ms-extra-large) {
        font-size: var(--fs-text-title-xl);
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link {
    color: var(--ion-color-primary);

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__label {
    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    &--error {
      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-error-sm);
      }
    }
  }

  &__datetime {
    width: 100%;
    @include breakpoint-size(ms-small) {
      font-size: 1.4rem;
    }
  }

  &__select {
    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__select-option {
    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__row {
    &--first {
      height: 10%;

      @include breakpoint-size(ms-small) {
        height: 15%;
      }
    }

    &--second {
      height: 10%;

      @include breakpoint-size(ms-small) {
        height: 10%;
      }
    }

    &--third {
      height: 10%;

      @include breakpoint-size(ms-small) {
        height: 15%;
      }
    }

    &--four {
      height: 20%;

      @include breakpoint-size(ms-small) {
        height: 20%;
      }
    }

    &--ingredients {
      height: 30%;

      @include breakpoint-size(ms-small) {
        height: 35%;
      }
    }

    &--add-ingredients {
      height: 10%;

      @include breakpoint-size(ms-small) {
        height: 5%;
      }
    }

    // fila interna para registro de lote
    &--register-lots {
      //
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  margin: 0;

  &__header {
    height: auto;
  }

  &__subtitle {
    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }
  }

  &__content {
    height: 85%;
    overflow-y: scroll;
  }
}
