<form [formGroup]="form" class="container" (ngSubmit)="onSubmit()" flex layout="column" style="overflow: auto; height: 100%;">
  <ion-grid class="container container__grid" fixed>
    <ion-row class="container container__row container__row--first">
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label
            class="container container__label ion-text-wrap"
            position="stacked"
            >Producto*</ion-label
          >

          <ion-select
            class="container container__select"
            interface="action-sheet"
            placeholder="Seleccione un producto*"
            formControlName="productRoviandaId"
          >
            <!-- <ion-select-option value="f">Female</ion-select-option> -->
            <ion-select-option
              class="container container__select-option"
              *ngFor="let product of productsRovianda$ | async"
              [value]="product.id"
              >{{ product.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <div class="container container__message-error">
          <ion-label
            class="container container__label container__label--error"
            *ngIf="
              productRoviandaId.invalid &&
              (productRoviandaId.dirty || productRoviandaId.touched)
            "
          >
            La selección es requerida.
          </ion-label>
        </div>
      </ion-col>
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="floating">
            Lote interno*
          </ion-label>

          <ion-select
            class="container container__select myCustomSelect"
            interface="alert"
            placeholder="Ingresa lote"
            formControlName="lotsDefrost"
            multiple="true"
            (ionChange)="onSelect()"
            [interfaceOptions]="customOptions"
            [disabled]="!(lotsMeat$ | async)"
          >
            <ion-select-option
              class="container container__select-option"
              style="--width: 500px !important"
              *ngFor="let lotMeat of lotsMeat$ | async"
              [value]="lotMeat"
              >{{ lotMeat.lotId }}-{{ lotMeat.rawMaterial }}-{{
                lotMeat.quantity
              }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <div class="container container__message-error">
          <ion-label
            class="container container__label container__label--error"
            *ngIf="
              form.hasError('required', 'lotsDefrost') &&
              (form.controls.lotsDefrost.touched ||
                form.controls.lotsDefrost.dirty)
            "
          >
            Campo requerido.
          </ion-label>
          <ion-label
            class="container container__label container__label--error"
            *ngIf="
              ((!lotsDefrost.hasError('required') && lotsDefrost.dirty) ||
              lotsDefrost.touched) &&
              lotsDefrost.hasError('maxLength')
            "
          >
            Limite maximo de 5 items
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="container container__label" position="floating"
            >Lotes seleccionados</ion-label
          >
          <ion-textarea [disabled]="true">
            <p class="card__subtitle" *ngFor="let value of selected_values">
              {{ value.lotId }}
            </p>
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="container container__row container__row--second">
      <ion-col class="container container_column" size="12">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked"
            >Elaboro</ion-label
          >
          <ion-input
            class="container container__input"
            type="text"
            disabled="true"
          >
            {{ nameElaborated | async }}
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="container container__row container__row--third">
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked"
            >Verifico</ion-label
          >
          <ion-select
            value="peperoni"
            interface="action-sheet"
            placeholder="Verifico"
            formControlName="verifitId"
          >
            <ion-select-option
              *ngFor="let uv of qualityUsers$ | async"
              [value]="uv.userId"
              >{{ uv.fullName }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="container container__message-error">
          <ion-label
            class="container container__label container__label--error"
            *ngIf="verifitId.invalid && (verifitId.dirty || verifitId.touched)"
          >
            La selección es requerida.
          </ion-label>
        </div>
      </ion-col>
      <ion-col class="container container__column" size="6">
        <ion-item class="container container__item">
          <ion-label class="container container__label" position="stacked"
            >Fecha</ion-label
          >
          <ion-input
            class="container container__input"
            formControlName="date"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="container container__row container__row--four">
      <ion-col class="container container__column" size="12">
        <ion-item
          class="container container__item container__item--temperature"
        >
          <ion-label class="container container__label" position="floating"
            >Temperatura</ion-label
          >
          <ion-input
            class="container container__input"
            formControlName="temperature"
            type="text"
            placeholder="Ingresa temperatura"
          >
          </ion-input>
        </ion-item>
        <div class="container container__message-error">
          <ion-label
            class="container container__label container__label--error"
            *ngIf="
              temperature.invalid && (temperature.dirty || temperature.touched)
            "
          >
            Campo requerido.-
          </ion-label>
          <ion-label
            class="container container__label container__label--error"
            *ngIf="temperature.touched && temperature.errors?.whitespace"
          >
            No se aceptan espacios en blanco
          </ion-label>
        </div>
        <ion-item
          class="container container__item container__item--temperature"
        >
          <ion-label class="container container__label" position="floating"
            >Temperatura del agua</ion-label
          >
          <ion-input
            class="container container__input"
            formControlName="temperatureWater"
            type="text"
            placeholder="Ingresa temperatura agua"
          >
          </ion-input>
        </ion-item>
        <div class="container container__message-error">
          <ion-label
            class="container container__label container__label--error"
            *ngIf="
              temperatureWater.invalid &&
              (temperatureWater.dirty || temperatureWater.touched)
            "
          >
            Campo requerido.-
          </ion-label>
          <ion-label
            class="container container__label container__label--error"
            *ngIf="
              temperatureWater.touched && temperatureWater.errors?.whitespace
            "
          >
            No se aceptan espacios en blanco
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="container container__row container__row--ingredients">
      <ion-col size="12" style="height: 100%">
        <ion-card class="card">
          <ion-card-header class="card card__header">
            <ion-card-subtitle class="card card__subtitle">
              Ingredientes
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card card__content">
            <ion-row
              class="container container__row container__row--selector-lots"
              style="height: auto"
            >
              <ion-col
                class="container container__column"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-end;
                "
              >
                <ion-item
                  class="container container__item"
                  *ngFor="let lot of lotsDrief$ | async; let i = index"
                >
                  <ion-label class="container container__label" position="fixed"
                    >Lote</ion-label
                  >
                  <ion-select
                    class="container container__select"
                    interface="action-sheet"
                    [formControl]="lotsFormArray.controls[i]"
                  >
                    <ion-select-option
                      class="container container__select-option"
                      *ngFor="let lotInt of lot.lots"
                      [value]="lotInt.lotRecordId"
                    >
                      {{ lotInt.loteId }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col
                class="container container__column"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-end;
                "
              >
                <ion-spinner
                  class="container container__spinner"
                  *ngIf="loadingIngredients"
                ></ion-spinner>
                <!-- <div *ngIf="!loadingIngredients"> -->
                <ion-item
                  class="container container__item"
                  *ngFor="
                    let ingredient of ingredientsOfProductRovianda$ | async
                  "
                >
                  <ion-label class="container container__label">{{
                    ingredient.description
                  }}</ion-label>
                </ion-item>

                <!-- </div> -->
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row
      class="container container__row container__row--add-ingredients ion-justify-content-end"
      size="12"
    >
      <ion-nav-link class="container container__link" (click)="openModal()"
        >Agregar ingredientes</ion-nav-link
      >
    </ion-row>
  </ion-grid>
</form>
