<title-header
  [titlePath]="'Salir'"
  [path]="'/'"
  [title]="'Registro'"
  (click)="logout()"
></title-header>

<ion-content class="container">
  <ion-grid>
    <ion-row class="row row-1">
      <ion-col size="12">
        <h1 class="title ion-text-sm-start ion-text-lg-start ion-text-xl-start">
          Información principal
        </h1>
      </ion-col>
    </ion-row>
    <ion-row class="row row-2">
      <ion-col size="12">
        <register-product-form
          #form
          (onSubmit)="onSubmit($event)"
        ></register-product-form>
      </ion-col>
    </ion-row>
    <ion-row
      class="row row-3 ion-justify-content-center ion-align-items-center"
    >
      <ion-col class="ion-align-self-center" size="12">
        <div>
          <ion-button
            expand="block"
            size="large"
            class="ion-text-sm-center ion-text-lg-center ion-text-xl-center"
            color="primary"
            (click)="form.onSubmit()"
            [disabled]="form.form.invalid || form.lotsFormArray.status == 'INVALID'"
          >
            <ion-spinner *ngIf="loadingSave"></ion-spinner>
            <span *ngIf="!loadingSave">Guardar registro</span>
            <ion-icon
              *ngIf="!loadingSave"
              slot="end"
              name="chevron-forward-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
