ion-grid {
  height: 100%;

  .title {
    color: var(--ion-color-medium-shade);
    font-size: 2em;
    margin-top: 5%;
    font-weight: 700;
    margin-left: 5%;
  }
  .subtitle-menu {
    font-size: 3.4vw;
    margin-left: 5%;
  }

  .row {
    &-1 {
      height: 10%;
    }

    &-2 {
      height: 70%;
    }

    &-3 {
      height: 20%;

      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
