<title-header
  titlePath="Regresar"
  [title]="'Formulación'"
  path="/menu"
  style="background: #ffffff"
>
</title-header>

<ion-content>
  <ion-grid class="container container--all">
    <ion-row>
      <ion-col>
        <h1 class="title">Listado de descongelamiento</h1>
      </ion-col>
    </ion-row>

    <ion-row class="container container__row container__row--forms">
      <ion-spinner *ngIf="!(lots$ | async)" name="crescent"></ion-spinner>

      <ion-col
        class="container container__column list"
        size="12"
        *ngIf="lots$ | async"
      >
        <ion-row
          size="12"
          class="container container__row container__row--forms"
        >
          <ion-col size="3" class="item_text">Lote</ion-col>
          <ion-col size="3" class="item_text">Producto</ion-col>
          <ion-col size="3" class="item_text">Fecha descongelamiento</ion-col>
          <ion-col size="3" class="item_text">Cantidad</ion-col>
        </ion-row>
        <div
          class="container container__form"
          *ngFor="let item of lots$ | async"
        >
          <defrost-list [item]="item"></defrost-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
