<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="arrow-back"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Lista de ingredientes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading"></ion-spinner>
      <ion-row>
        <ion-col>
          <div
            *ngIf="!loading"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <ion-label *ngFor="let ing of ingredientsOutlet$ | async">{{
              ing.description
            }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
