<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="arrow-back"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-sm-start ion-text-lg-start">
        Lista de ingredientes
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="loading"></ion-spinner>
      <ion-row style="overflow-y: scroll; height: 90%;">
        <ion-col style="overflow-y: scroll; height: 100%;">
          <div
            *ngIf="!loading && !ingredientsNull"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              overflow-y: scroll;
            "
          >
            <!-- <ion-label *ngFor="let ing of ingredientsOutlet$ | async">{{
              ing.description
            }}</ion-label> -->
            <form [formGroup]="ingredientsForm" #form>
              <ion-item
                style="font-size: 1.3rem;"
                *ngFor="
                  let ing of ingredientsForm.controls.ingredients.controls;
                  let i = index
                "
              >
                <ion-checkbox
                  class="ion-margin-start ion-margin-end"
                  style="
                    --background-checked: #e2bd53;
                    --border-color-checked: #e2bd53;
                  "
                  type="checkbox"
                  [formControl]="ing"
                ></ion-checkbox>
                {{ ingredients[i].description }}
              </ion-item>
            </form>
          </div>
          <div
            class="ion-text-sm-center ion-text-lg-center"
            *ngIf="ingredientsNull"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              align-content: center;
              overflow-y: scroll;
              height: 100%;
            "
          >
            No se encontraron ingredientes
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 10%;
          "
        >
          <ion-button
            class="btn-add"
            color="primary"
            (click)="addIngredients(ingredientsForm.value)"
            >Agregar</ion-button
          >
          <ion-button class="btn-cancel" color="secondary" (click)="onCancel()"
            >Cancelar</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="showError">
            <ion-label>
              No ha seleccionado ningun ingrediente.
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
